                <div id="gr-dropzone-footer_disclaimer" class="disclaimer" >
                    <h5 style="margin: 0 0 10px;text-align:left" class="footer-info-heading">IMPORTANT CUSTOMER SAFETY NOTICE:</h5>
                    <div class="site-footer-block-content rte">
                        <p>A state licensed gas professional  is recommended on all gas appliance installations. Please consult a licensed gas professional BEFORE installing, adjusting, or repairing any Empire Comfort or gas related product.</p>
				   </div>
                </div>        
