    <div id="gr-dropzone-header_top" class="header-top" style="background: rgba(215,215,215,0.6) !important;">
        <div class="left-align"> 
          <p><b>FREE SHIPPING</b> on Orders Over $49!</p>
        </div>
       
        <div class="right-align">
         <span class="header_top_phone">SALES <a style="" href="tel:+1-800-357-5044">(800) 357-5044</a></span>
         
         <span class="header_top">
            <a href="/contact-us/" class="contact">Contact Us</a> |
            <a href="/about-us.html" class="about-us">About Brandster</a> | 
            <a href="/customer-feedback.html" class="Reviews">Reviews</a> | 
            <a href="/contract/" class="Reviews">Pro Services</a>
        </span>
         
         
         </div>
	</div>        
