  
<div class="popup_frame_sticky">
  <span><b>Delay In Production & Limited Catalog Selection due to ongoing </b><span id="covid-19-top"><b>COVID-19</b></span> <b>effects. Please contact us for full details before ordering if needed.</b></span>
  <span class="close">×</span>
</div>
  
  <div id="gr-dropzone-header_top" class="header-top" style="background: rgba(215,215,215,0.6) !important;">
        <div class="left-align"> 
          <p><b>FREE SHIPPING</b> on Orders Over $49!</p>
        </div>
       
        <div class="right-align">
         <span class="header_top_phone" style="font-weight:bold;font-size:1.2rem;">SALES <a href="tel:+1-800-357-5044">(800) 357-5044</a></span>
         
         <span class="header_top">
            <a href="/contact-us/" class="contact">Contact Us</a> |
            <a href="/about-us" class="about-us">About Brandster</a> | 
            <!-- <a href="/customer-feedback" class="Reviews">Reviews</a> |  -->
            <a href="/crp-pro-services-account/" class="Reviews">Pro Services</a>
        </span>
         
         
         </div>
      </div>        
<div class="custom-header-top">
  <span><b style="font-weight:600 !important;">Visit <a href="https://www.crpproducts.com" style="text-decoration: underline;">CRPLastics.com</a> For <a href="https://www.crpproducts.com">Brand Website</a></b></span>
</div>