
			<div class="carttofloat">

{{#each product.reviews.messages}}
    {{#if error}}
        {{> components/common/alert-error error}}
    {{/if}}
    {{#if success}}
        {{> components/common/alert-success success}}
    {{/if}}
{{/each}}
 <style>

.form-label--inlineSmall small{display:none}
.form-field--increments{max-width:50% !important;margin:10px auto 20px auto !important;}
.productView-options .form-field{position:relative;text-align: left;margin:3px auto;border:1px solid #ccc;max-width:90%;width:100%;}

.productView-options .form-field:last-child{}
.form-select--small{background-position: right 0.5rem top 1.3rem;max-width:100%;z-index: 2;width: 100%;height: 100%;padding-right: 1.75rem;border:none;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);    padding: 2rem 0.625rem 0.375rem;background-color:transparent;font-size: 14px;font-weight: normal;} 
.form-label--alternate{font-family: 'Libre Franklin', sans-serif !important;margin-bottom: 0;position: absolute;top: 2px;left: 0.625rem;font-size: 14px;font-weight: normal;}
#form-action-addToCart:hover{border:1px solid #000 !important;}
.mf_button:hover{border:1px solid #000 !important;}
.share-buttons--button{display:inline-block} 
.share-buttons--button svg{color:#fff;display: block;
    width: 100%;
    height: 100%;}
.share-buttons--facebook{background-color: #425dab;border-radius: 100%;    width: 24px;
    height: 24px;}
.share-buttons--twitter {
    background-color: #1da1f2;border-radius: 100%;    width: 24px;
    height: 24px;
}
.share-buttons--google {
    background-color: #db4437;border-radius: 100%;    width: 24px;
    height: 24px;
}
.share-buttons--linkedin {
    background-color: #0077b5;border-radius: 100%;    width: 24px;
    height: 24px;
}
.share-buttons--pinterest {
    background-color: #bd1c1c;border-radius: 100%;    width: 24px;
    height: 24px;
}
.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
}

.share-buttons--list{text-align: left;
    width: 90%;
    margin: 0 auto}
	
.share-buttons--list h5{margin:0;text-transform:none;}

.productView-img-container img{margin:0}
.test-fab-img{width: 100%;max-height:100%;fit-object:contain;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px;
    background: #fff;
    z-index: 2;}
.productView-image .easyzoom-flyout img{z-index: 2;}	
#tab-reviews .form-fieldset{display: flex;justify-content: space-between;flex-flow: row wrap;}	
#tab-reviews .form-label{font-weight:700;}
#tab-reviews .form-field{margin: 0 0 10px}
#tab-reviews .form-field--input{flex:0 1 49%}
#tab-reviews .form-field--select{flex:0 1 49%}
#tab-reviews .form-field--textarea{flex:0 1 100%}
	
</style>
<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
  
        <section class="productView-images" data-image-gallery>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>
			<img class="test-fab-img" style="display:none;" src="https://store-n1keky2ro6.mybigcommerce.com/content/products/canvas_birds_eye.jpg"/>
        </figure>
        <ul class="productView-thumbnails"{{#gt product.images.length 7}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 5,
                "slidesToScroll": 1,
                "dots": false
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
    <section class="productView-details">
		<div class="productView-desc">
		
		<h1 class="productView-title main-heading" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
		<div class="productView-rating"  {{#if product.num_reviews '==' 0}}alt="0%" title="0%"{{/if}}                       {{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
               {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}} 
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
				 {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           <i class="icon" aria-hidden="true" style="position: relative; top: -1px;">
                                <!--<svg><use xlink:href="#icon-plus" /></svg>-->
                            </i>
                           <strong style="text-decoration: underline;">{{lang 'products.reviews.new'}}</strong>
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>
	                 {{#if product.sku}}
                <div class="productSKU">
                    <dt class="productView-info-name sku-label">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" >{{#filter product.custom_fields 'Parent Sku' property='name' }}
                    {{value}}
		            {{else}}{{/filter}}</dd>
                </div>
            {{/if}}
            {{#and product.sku product.upc}}{{/and}}
            {{#if product.upc}}
                <div class="productUPC">
                    <dt class="productView-info-name upc-label">{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                </div>
            {{/if}}
			
		
       
			
			            <div class="quickform-request-buttons">
                <span class="productView-quoteLink request-pricelist">
                            <a class="modal-iFrame-action" href="/request-free-catalog-price-list/"  data-reveal-id="modal-iFrame-content" >
                               <strong style="text-decoration: underline;">Request Free Catalog / Price List</strong>
                            </a>
                </span> 
                <span class="productView-quoteLink request-contract">
                            <a class="modal-iFrame-action" href="/request-contract-to-the-trade-discount/"  data-reveal-id="modal-iFrame-content" >
                               <strong style="text-decoration: underline;">Request Contract / To The Trade Discount</strong>
                            </a>
                </span> 
            </div>
			 {{#eachIndex (split product.description '<!-- split -->')}}
				{{#if index '==' '0' }} 
				<!-- {{{item}}}<span class="read-more-product-page">more features</span>-->
					{{{item}}}
				{{/if}}
			{{/eachIndex}}
		
		
		</div>

		        
    </section>

<div class="productView-product floatingcart">
            {{#if page_type '===' 'product'}}
                {{#or product.price.non_sale_price_with_tax product.price.non_sale_price_without_tax}}
                    <div class="sale-flag-side">
                        <span class="sale-text">Sale</span>
                    </div>
                {{/or}}
            {{/if}}
         
        
            {{#if product.availability}}
                <div>
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                </div>
            {{/if}}
            
            

            
            
            
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> store-custom/components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>

            {{#if settings.bulk_discount_enabled}}
                {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
            {{/if}}

            {{{region name="product_below_price"}}}
            





            {{product.detail_messages}}
			
			<div class="productView-options">
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                
                <div class="productView-options-wrap" data-product-option-change style="display:none;">
                    {{#if product.options}}
                        <div class="productView-options-inner">
                            {{#each product.options}}
                                {{{dynamicComponent 'store-custom/components/products/options'}}}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                
                {{#any product.shipping product.gift_wrapping_available product.stock_level}}
                    <div class="shipping-giftWrap-stock">
                        {{#if product.shipping}}
                            {{#unless product.shipping.calculated}}
                                {{#if product.shipping.price.value '===' 0}}
                                    <div class="productView-shipping productView-shipping--free">
                                        <dt class="productView-info-name hide-label">{{lang 'products.shipping'}}</dt>
                                        <dd class="productView-info-value uppercase"><strong>{{lang 'products.shipping_free'}}</strong></dd>
                                    </div>
                                {{else}}
                                    <div class="productView-shipping">
                                        <dt class="productView-info-name">Fixed Shipping Cost: </dt>
                                        <dd class="productView-info-value">{{product.shipping.price.formatted}}</dd>
                                    </div>
                                {{/if}}
                            {{/unless}}
                        {{/if}}
                        {{#if product.gift_wrapping_available}}
                            <div class="productView-giftWrap">
                                <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                            </div>
                        {{/if}}
                        <div class="form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                            <dt class="productView-info-name">{{lang 'products.current_stock'}}</dt>
                            <dd class="productView-info-value"><span data-product-stock>{{product.stock_level}}</span></dd>
                        </div>
                    </div>
                {{/any}}
                
                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{/if}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                    <span class="button button--primary button--out-of-stock">Out of Stock</span>
                {{/if}}
            </form>
           <!-- {{#if settings.show_wishlist}}
                {{> components/common/wishlist-dropdown}}
            {{/if}}-->
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
        </div>
        </div>
        {{#and product.warranty theme_settings.show_short_desc}}
            <div class="productView-warranty">
                {{{product.warranty}}}
            </div>
        {{/and}}
        {{#if product.related_products}}
            {{#unless theme_settings.related_products_tab}}
			
                <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active"id="tab-related" >
                    <div class="grid-bg">
                        <div class="container">
                            {{#if settings.data_tag_enabled}}
                                {{> store-custom/components/products/carousel products=product.related_products columns=3 list="Related Products"}}
                            {{else}}
                                {{> store-custom/components/products/carousel products=product.related_products columns=3}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
		<div class="custom-desc">

		<div class="custom-tab">
				<div class="custom-link">
				<span><a class="tab-desc" href="#tab-desc">Details</a></span>    
				<span><a class="tab-additional" href="#tab-additional">Specifications</a></span>
				<span><a class="tab-reviews" href="#tab-reviews">Ratings And Reviews</a></span>
				<span><a class="tab-info-merchant" href="#tab-info-merchant">Merchant Reviews</a></span>
				<span><a class="tab-info-wnm" href="#tab-info-wnm">Warranty And Manuals</a></span>		
				</div>
		</div>
			<div id="tab-desc" class="custab-con">
			<div class="custab-title">
				<h2><strong>DETAILS</strong></h2>
			</div>
				{{#eachIndex (split product.description '<!-- split -->')}}
					{{#if index '!=' '0' }} 
					<!-- {{{item}}}<span class="read-more-product-page">more features</span>-->
						{{{item}}}
					{{/if}}
				{{/eachIndex}}
			
			</div>
			
			<div id="tab-additional" class="custab-con">
			<div class="custab-title">
				<h2><strong>SPECIFICATIONS</strong></h2>
			</div>
			<table>
				
				{{#filter product.custom_fields 'Cushion Included' property='name' }}
				<tr>
				<th>Cushion Included</th>
				<td>{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				{{#if product.height}}
				<tr>
				<th>Height</th>
				<td class="specs-height">{{product.height}}</td>
				
				</tr>
				{{/if}}
				{{#if product.width}}
				<tr>
				<th>Width</th>
				<td class="specs-width">{{product.width}}</td>
				
				</tr>
				{{/if}}
				{{#if product.depth}}
				<tr>
				<th>Depth</th>
				<td class="specs-depth">{{product.depth}}</td>
				
				</tr>
				{{/if}}
				
				{{#filter product.custom_fields 'Arm Height' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td class="specs-seatHeight">{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				
						
				{{#filter product.custom_fields 'Seat Height' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td class="specs-seatHeight">{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				
				
				{{#filter product.custom_fields 'Material' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td>{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				
				{{#filter product.custom_fields 'Fully Welded' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td>{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				{{#filter product.custom_fields 'Umbrella Hole' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td>{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}

				
				{{#filter product.custom_fields 'Assembly' property='name' }}
				<tr>
				<th>{{name}}</th>
				<td class="specs-assembly">{{value}}</td>
				
				</tr>
				{{else}}{{/filter}}
				</table>
			</div>
			<div  id="tab-reviews" class="custab-con">
			<div class="custab-title">
				<h2><strong> Product Reviews</strong></h2>
			</div>
			 <form style="width:100%" class="form writeReview-form" action="{{ urls.product.post_review }}" method="post">
            <fieldset class="form-fieldset">
                <div class="form-field">
                    <label class="form-label" for="rating-rate">{{lang 'products.reviews.rating_label'}}
                        <small>{{lang 'common.required' }}</small>
                    </label>
                    <!-- Stars -->
                    <!-- TODO: Review Stars need to be componentised, both for display and input -->
                    <select id="rating-rate" class="form-select" name="revrating">
                        <option value="">{{lang 'products.reviews.select_rating'}}</option>
                        {{#for 1 5}}
                            {{#if ../product.reviews.selected_rating '===' $index}}
                                <option selected value="{{$index}}">{{lang (concat 'products.reviews.rating.' $index) }}</option>
                            {{else}}
                                <option value="{{$index}}">{{lang (concat 'products.reviews.rating.' $index) }}</option>
                            {{/if}}
                        {{/for}}
                    </select>
                </div>

                <!-- Name -->
                {{#if product.reviews.author}}
                    {{> components/common/forms/text id="revfromname" name="revfromname" label=(lang 'products.reviews.form_write.name') value=product.reviews.author}}
                {{else}}
                    {{> components/common/forms/text id="revfromname" name="revfromname" label=(lang 'products.reviews.form_write.name') value=customer.name}}
                {{/if}}

                {{#if product.reviews.show_review_email}}
                    <!-- Email -->
                    {{#if product.reviews.email}}
                        {{> components/common/forms/text id="email" name="email" required="false" label=(lang 'products.reviews.form_write.email') value=product.reviews.email}}
                    {{else}}
                        {{> components/common/forms/text id="email" name="email" required="false" label=(lang 'products.reviews.form_write.email') value=customer.email}}
                    {{/if}}
                {{/if}}

                <!-- Review Subject -->
                {{> components/common/forms/text id="revtitle" name="revtitle" required="true" label=(lang 'products.reviews.form_write.subject') value=product.reviews.title}}

                <!-- Comments -->
                {{> components/common/forms/multiline id="revtext" name="revtext" required="true" label=(lang 'products.reviews.form_write.comments') value=product.reviews.text}}

                {{{product.reviews.recaptcha.markup}}}

                <div class="form-field">
                    <input type="submit" class="button button--primary"
                           value="{{lang 'products.reviews.form_write.submit_value' }}">
                </div>
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="action" value="post_review">
                {{#if product.reviews.throttleToken}}<input type="hidden" name="throttleToken" value="{{product.reviews.throttleToken}}">{{/if}}
            </fieldset>
        </form>
			
			
			
			
			
			
			
			
			
			</div>
			<div id="tab-info-merchant" class="custab-con">
					<div class="custab-title">
					<h2>
						<strong>MERCHANT REVIEWS</strong>
					</h2>
				</div>
				
				
				<div class="shopperApproved">
<a href="https://www.shopperapproved.com/reviews/Brandster.com/" class="shopperlink" target="_blank"><img style="display: block; margin: 0 auto; padding-top: 10px;" src="//www.shopperapproved.com/newseals/13615/white-header-details.gif" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;"></a>
</div>
<script type="text/javascript"> var sa_review_count = 3; var sa_date_format = 'F j, Y'; function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } saLoadScript('//www.shopperapproved.com/merchant/13615.js'); </script><div id="shopper_review_page"><div id="review_header"></div><div id="merchant_page"></div></div>


			</div>
			
			<div id="tab-info-wnm" class="custab-con">
				
				<div class="custab-title">
					<h2>
						<strong>WARRANTY AND MANUALS</strong>
					</h2>
				</div>
					{{#filter product.custom_fields 'Product Assembly' property='name' }}
						<a target="_blank" href="{{value}}">
							<i style="margin-right: 10px;margin-left: 20px;color: #000 !important;" class="far fa-file-pdf"></i>
							{{name}}
						</a>
					{{else}}{{/filter}}
					{{#filter product.custom_fields 'Breezesta Warranty' property='name' }}
						<a target="_blank" href="{{value}}">
							<i style="margin-right: 10px;margin-left: 20px;color: #000 !important;" class="far fa-file-pdf"></i>
							{{name}}
						</a>
					{{else}}{{/filter}}
			</div>
		</div>
</div>
<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<!-- product script -->
<script src = "{{cdn 'assets/jquery.min.js'}}" > </script> 
	<script >

	$(document).ready(function () {
		var defsave = Math.abs($(".productView-price .save-label .price--saving").text().replace("$", ""));
		var defprice1 = Math.abs($(".productView-price #defprice").text().replace("$", ""));
		var saleprice1= Math.abs($(".productView-price #saleprice").text().replace("$", "").replace(",", ""));
		var defprice =  Math.abs($(".productView-price #defprice").text().replace("$", "").replace(",", ""));
		
		var newdefprice = 0;

		
		$(".productView-price #saleprice").on('DOMSubtreeModified', function () {
			var saleprice = Math.abs($(".productView-price #saleprice").text().replace("$", "").replace(",", ""));
			var saveprice =  Math.abs($(".productView-price .save-label .price--saving").text().replace("$", "").replace(",", ""));
			
			newdefprice = defprice + (saleprice - saleprice1);
			$(".productView-price #defprice").text('$' + Math.abs(newdefprice).toFixed(2));
			
			
			});
			
		
		
		$('h2:contains("Short Description")').hide();
		$('h2:contains("Description")').hide();

	});



</script>
</div>




