---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}




    {{{snippet 'home_content'}}}

    {{{region name="home_below_carousel"}}}

{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
	
<style>
.widget-flex{position:relative;width:100%;}
.widget-row{width:100%;display:flex;justify-content: space-between;align-items: center;position:relative;}
.widget-item{padding:15px;position:relative;}
.text{
	padding-left:28px;
	padding-right:28px;
	margin-left:15px;
	margin-top:40px;
	position:absolute;	
	top:0;
	left:0;
	font-weight: bold;
	font-size:34px;
	text-transform: uppercase;
	background: rgba(31, 91, 163, 0.8);
	color:white;
}

.banners{padding:0;display:inline-block;width:100%;}
.banner {padding: 0;display:inline-block}

.home-side h3{font-size:17px;color: #3d3d3d;
    font-weight: bold;
    padding: 0 0 10px 0 !important;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc !important;margin:0;
}

.home-side ul{list-style:none;margin-left:0;}
.home-side li{    padding: 10px !important;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;}
.home-side li a{color: #3d3d3d;font-size:12px;font-weight:600;}

 .home-side li a:hover{   color: #3bae87;}

.home-about{margin-top:20px;text-align: left;}
.home-about h2{
    border-bottom: 1px solid #ccc; 
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 7px;
    position: relative;
}
.container-home{display: flex;}
.home-about h2:before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 10%;
    height: 3px;
    background: #3bae87;
}
.page-sidebar {
    padding: 10px 20px 20px 20px;
	margin-top:24px;
	background: #fafafa;
	float:none;
	height:100%;
}
.page-sidebar + .page-content {
	float:none;
	margin:0 auto;
}

.malibu-left-nav {
	display: none;
	width: 100%;
    float: left;
    text-align: center;
    color: #395ba7 !important;
    border: 1px solid #395ba7 !important;
    font-family: 'Montserrat',sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
	position:relative;
	z-index:99;
	cursor:pointer;
}

.malibu-left-nav p{margin:0;padding:0;}
.sidebar-modal{
    width: 300px;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
	padding: 50px 20px;
 
 }
 
 .sidebar-modal h3{font-size:17px;color: #3d3d3d;
    font-weight: bold;
    padding: 0 0 10px 0 !important;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc !important;margin:0;
}
 .sidebar-modal ul{list-style:none;margin-left:0;}
.sidebar-modal li{    padding: 10px !important;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;}
.malibu-left-close{display: block;
    position: absolute;
	right:15px;
	cursor:pointer;
    top: 15px;
    font-weight: 600;
    font-size: 20px;}
	.malibu-left-close:hover{
		color:red;
	}
@media only screen and (min-width: 1360px){
.grid-bg{max-width:1360px;display:block;margin:0 auto;}
}
@media only screen and (max-width: 903px){
.featured-categories > div{width:48%;}
}

@media only screen and (max-width: 800px){
.featured-categories > div:nth-child(odd){margin-right:0}
.featured-categories--text, .featured-categories--text h2{font-size:1.5rem}
}

@media only screen and (max-width: 767px){
.container-home{display:block}
.malibu-left-nav{display:block}
.page-sidebar{display:none;}
.featured-categories{padding:0}
.category-item-wrapper{width:100%;}
}

@media only screen and (max-width: 500px){
   .featured-categories > div { flex: 0 100%;
    margin-bottom: 24px;width:100%;}
}
@media only screen and (max-width: 300px){
.sidebar-modal{
    width: 90%px;
	
	}
}

</style>
    <div class="main full grid-bg" style="padding-bottom:50px;padding-top:0">
        <div class="container-home">
			
			 <aside class="page-sidebar home-side">	
				<!-- <h3>PROMOTIONS:</h3>
				<ul class="categoryGrid" data-product-type="categories">
					<li><a href="/outdoor-furniture-clearance.html">Clearance Sale</a></li>
					<li><a href="/sales/">Sales</a></li>
				</ul>	 -->

				

				<h3>POPULAR PRODUCTS:</h3>
				
				<ul class="categoryGrid" data-product-type="categories">
					<li><a href="/outdoor/adirondack-chairs">Adirondack Chairs</a></li>	
					<li><a href="/outdoor/adirondack-rockers">Adirondack Rockers</a></li>	
					<li><a href="/outdoor/rocking-chairs">Rocking Chairs</a></li>	
					<li><a href="/outdoor/dining">Dining</a></li>	
					<li><a href="/outdoor/bar">Bar</a></li>	
					<li><a href="/outdoor/bar-stools">Bar Stools</a></li>	
					<li><a href="/outdoor/adirondack-footstools">Adirondack Footstools</a></li>	
					<li><a href="/outdoor/footstools">Footstools</a></li>	
					<li><a href="/outdoor/bences">Benches</a></li>	
					<li><a href="/outdoor/lounges">Lounges</a></li>	
					<li><a href="/outdoor/pillows">Pillows</a></li>	
					<li><a href="/outdoor/dining-tables">Dining Tables</a></li>	
					<li><a href="/outdoor/picnic-table">Picnic Table</a></li>	
					<li><a href="/outdoor/deep-seating">Deep Seating</a></li>	
					<li><a href="/outdoor/counter">Counter</a></li>	
					<li><a href="/outdoor/counter-chairs">Counter Chairs</a></li>	
					<li><a href="/outdoor/counter-tables">Counter Tables</a></li>	
					<li><a href="/outdoor/coffee-tables">Coffee Tables</a></li>	
					<li><a href="/outdoor/tete-a-tete">Tete-a-Tete</a></li>	
					<li><a href="/outdoor/bar-tables">Bar Tables</a></li>	
					<li><a href="/outdoor/umbrellas">Umbrellas</a></li>	
					<li><a href="/outdoor/collections">Collections</a></li>	
				</ul>					
             </aside>
			 <div class="malibu-left-nav"><p>Categories</p></div>
            <main class="page-content" id="product-listing-container">
			
			<div class="widget-flex">
				<div class="widget-row">
				
					<div class="widget-item">
						<a href="/new-for-2020-products">
							<img src="{{cdn 'assets/img/CRP-New-Products-For-2020.jpg'}}" alt="">
							<div class="text">New For 2020</div>
						</a>
					</div>
				
				
					<div class="widget-item">
						<a href="/outdoor/deep-seating">
							<img src="{{cdn 'assets/img/CRP-Deep-Seating_3-min.png'}}" alt="">
							<div class="text">Deep Seating</div>
						</a>
					</div>
				
				</div>
				<div class="widget-row">
				
					<div class="widget-item">
						<a href="/outdoor/bar">
							<img src="{{cdn 'assets/img/CRP-Bar-Height-min.png'}}" alt="">
							<div class="text">Bar Height</div>
						</a>
					</div>
				
				
					<div class="widget-item">
						<a href="/crp-adirondack">
							<img src="{{cdn 'assets/img/CRP-Adirondacks-min.png'}}" alt="">
							<div class="text">Adirondacks</div>
						</a>
					</div>
				
				</div>
				<div class="widget-row">
					<div class="widget-item">
						<a href="/crp-dining">
							<img src="{{cdn 'assets/img/CRP-Dinning-min.png'}}" alt="">
							<div class="text">Dining</div>
						</a>
					</div>
				
					<div class="widget-item">
						<a href="/crp-lounge">
							<img src="{{cdn 'assets/img/CRP-Chaise-Lounge-min.png'}}" alt="">
							<div class="text">Chaise Lounge</div>
						</a>
					</div>
				</div>
			</div>
			{{#if banners.top}}
				<div class="banners" data-banner-location="top">
					{{#each (limit banners.top_metadata 1)}}
					<div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
						<div class="featured-categories-banner"  data-event-type="promotion-click">
							{{{this.content}}}
						</div>
					</div>
					{{/each}}
				</div>
			{{/if}}
   			<!-- <a style="display:block;width:100%;text-align:center;" href="/contract/">
				<img class="__mce_add_custom__"  title="Pro Services" src="https://cdn11.bigcommerce.com/s-n1keky2ro6/content/pro-service-banner.png" alt="pro-services-img.png" />
			</a>       -->
			<div class="home-about">
				<h2>About C.R. Plastics</h2>
				<p>
				What started out as a compassionate goal for saving the environment has evolved into a passionate pursuit for innovation and design.<br><br>
				In 1994, Jamie Bailey, co-owner and co-founder of C.R. Plastic Products Inc., started manufacturing recycled plastic furniture in an effort to divert used plastic away from landfills, and limit unnecessary felling of trees. His goal was to make a product that would provide the look and warmth of wood, without the typical shortcomings associated with maintaining wood furniture. The proprietary extrusion process discovered, improved & customized by Jamie, produces a unique plastic lumber that won’t mold, rot, splint or crack. The process creates a superior fit and finish, including a beautiful textured-look similar to the grain of wood, and smooth rounded edges for enhanced comfort. With an added automotive-grade, UV stabilizer, each piece is guaranteed to maintain its beautiful colour for years, without the need of staining or painting.
				<br><br><hr>
				Since perfecting the comfort and design of our flagship Adirondack chairs, we have expanded our furniture into three distinct lines. The Generation Line offers timeless designs modeled after the classic Adirondack look. The St. Tropez line offers fresh options for the urban outdoors with its stunning, contemporary look. The Stratford Deep Seating Collection is extremely comfortable and stylish with its unique bullnose finish and weather-proof Sunbrella fabric cushions. Our newest line, the island inspired Bay Breeze Coastal Collection has sturdy horizontal back slats with sleek new curved extrusions that define this bold new look.
				<br><br>
				With a multitude of options for everything from outdoor dining to casual seating, we make something for everyone!	
				</p>
			</div>
            </main>
        </div>
    </div>
  












{{/partial}}

{{#partial "hero-bottom"}}








    {{#if blog.recent_posts}}
       <!-- <div class="banners blog-posts-wrap">
            <div class="container">
                <h2 class="page-heading">Recent Posts</h2> 
                <div class="blog-posts">
                    {{#each blog.recent_posts}}
                        {{> components/blog/post post=this}}
                    {{/each}}
                </div>
            </div>
        </div>-->
    {{/if}}

    {{{region name="home_below_new_products"}}}
	
	
	<!-- Before Footer -->
	<div id="gr-dropzone-before_footer"></div>
<div class="sidebar-modal sidecat-scroll">	
				
				

				<h3>CATEGORIES:</h3>
				
				<ul class="categoryGrid" data-product-type="categories">
					<li><a href="/outdoor/adirondack-chairs">Adirondack Chairs</a></li>	
					<li><a href="/outdoor/adirondack-rockers">Adirondack Rockers</a></li>	
					<li><a href="/outdoor/rocking-chairs">Rocking Chairs</a></li>	
					<li><a href="/outdoor/dining">Dining</a></li>	
					<li><a href="/outdoor/bar">Bar</a></li>	
					<li><a href="/outdoor/bar-stools">Bar Stools</a></li>	
					<li><a href="/outdoor/adirondack-footstools">Adirondack Footstools</a></li>	
					<li><a href="/outdoor/footstools">Footstools</a></li>	
					<li><a href="/outdoor/bences">Benches</a></li>	
					<li><a href="/outdoor/lounges">Lounges</a></li>	
					<li><a href="/outdoor/pillows">Pillows</a></li>	
					<li><a href="/outdoor/dining-tables">Dining Tables</a></li>	
					<li><a href="/outdoor/picnic-table">Picnic Table</a></li>	
					<li><a href="/outdoor/deep-seating">Deep Seating</a></li>	
					<li><a href="/outdoor/counter">Counter</a></li>	
					<li><a href="/outdoor/counter-chairs">Counter Chairs</a></li>	
					<li><a href="/outdoor/counter-tables">Counter Tables</a></li>	
					<li><a href="/outdoor/coffee-tables">Coffee Tables</a></li>	
					<li><a href="/outdoor/tete-a-tete">Tete-a-Tete</a></li>	
					<li><a href="/outdoor/bar-tables">Bar Tables</a></li>	
					<li><a href="/outdoor/umbrellas">Umbrellas</a></li>	
					<li><a href="/outdoor/collections">Collections</a></li>	
				</ul>		



<p class="malibu-left-close">X</p>					
             </div>
	<script>
		 $(document).ready(function(){
			$(".malibu-left-nav").click(function(){
				$(".sidebar-modal").show(500);
				});
				
			$(".malibu-left-close").click(function(){
				$(".sidebar-modal").hide(500);
				});
		 });
	</script>
	
{{/partial}}

{{> layout/base}}
