@media only screen and (min-width: 30px){ 
		.before-footer,footer, header, .breadcrumbs ,.footer-newsletter, .page-heading, .page-heading + p ,  .page-heading + p +p , .page-heading + p +p + p { display:none!important; } 
		body{padding-top:0!important; } 
		.body{ margin-top: 0 !important;}
		
		.form-row--half .form-field { width: 100%; } 
		.form-field { width: 100%; margin: 0 0 .5rem; } 
		.form-label{ text-align:left; margin-bottom: .2rem; } 
		.form-input{ height:2.2rem; } 
		
		.g-recaptcha{ text-align:center; overflow: hidden; } 
		.g-recaptcha > div { display:inline-block; }  
		
		.body-style-desktop{ padding-top:0 !important; } 
		.body-style-desktop-slim{ padding-top:0  !important;}
		#tidio-chat {display:none!important; }		
		
		.og_frame_container {display:none !important;}
}; 
