<style>
.card .card-figure{border:none}
.card{position:relative}
</style>
<h2 style="text-transform:none;">Shop the Look</h2>
<ul class="productGrid productGrid--maxCol5" data-product-type="featured">
<li class="product">

<article class="card  has-sale-price">
    <figure class="card-figure">
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>


        <a href="/coyote-conversion-kit-c136lp2ng/">
            <div class="card-img-container">
                <img class="card-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/615/4800/5%252F9%252F7%252F7%252F597757ae87c73298837da0d9c4b84ad1d047bfe3_2ea58185_894b_5ca9_849a_d22304d6faef__26475.1609520076.jpg?c=1" data-src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/615/4800/5%252F9%252F7%252F7%252F597757ae87c73298837da0d9c4b84ad1d047bfe3_2ea58185_894b_5ca9_849a_d22304d6faef__26475.1609520076.jpg?c=1" alt="Coyote Conversion Kit - C136LP2NG" title="Coyote Conversion Kit - C136LP2NG" sizes="271px">
            </div>
        </a>
        
    </figure>
    <div class="card-body">
        <div>
            <h4 class="card-title">
                <a href="/coyote-conversion-kit-c136lp2ng/">Coyote Conversion Kit - C136LP2NG</a>
            </h4><div class="card-text" data-test-info-type="price">
                    
         <div class="price-section price-section--saving price">
                <span data-product-price-saved="" class="price price--saving">
                  Save  $14.00
                </span>
         </div>
        <div class="price-section price-section--withoutTax ">
             
            <span class="price-section price-section--withoutTax non-sale-price--withoutTax">
                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">
                    $139.00
                </span>
            </span>
            <span data-product-price-without-tax="" class="price price--withoutTax">$125.00</span>
            <!--
                <span data-product-rrp-without-tax class="price price--rrp">$139.00</span>
            -->
        </div>
            </div>
            

                    <p class="card-text brand-name" data-test-info-type="brandName">Coyote Grills</p>
        </div>

        <div class="card-details">
            
                    </div>
    </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    <div class="card-figcaption--action-buttons">
                                <a href="/cart.php?action=add&amp;product_id=615" data-event-type="product-click" class="button button--small card-figcaption-button">Add to Cart</a>
                    </div>
                </div>
            </figcaption>
</article>
    </li>
   <li class="product">
<article class="card  has-sale-price">
    <figure class="card-figure">
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>


        <a href="/coyote-conversion-kit-c136ng2lp/">
            <div class="card-img-container">
                <img class="card-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/614/4799/a%252F9%252F2%252F6%252Fa926386cd0b612ed6e03586b94aeb6c666e960b0_f46bcbdf_2607_5682_a7d0_9f68fa96da25__86444.1609520074.jpg?c=1" data-src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/614/4799/a%252F9%252F2%252F6%252Fa926386cd0b612ed6e03586b94aeb6c666e960b0_f46bcbdf_2607_5682_a7d0_9f68fa96da25__86444.1609520074.jpg?c=1" alt="Coyote Conversion Kit - C136NG2LP" title="Coyote Conversion Kit - C136NG2LP" sizes="271px">
            </div>
        </a>
        
    </figure>
    <div class="card-body">
        <div>
            <h4 class="card-title">
                <a href="/coyote-conversion-kit-c136ng2lp/">Coyote Conversion Kit - C136NG2LP</a>
            </h4><div class="card-text" data-test-info-type="price">
                    
         <div class="price-section price-section--saving price">
                <span data-product-price-saved="" class="price price--saving">
                  Save  $14.00
                </span>
         </div>
        <div class="price-section price-section--withoutTax ">
             
            <span class="price-section price-section--withoutTax non-sale-price--withoutTax">
                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">
                    $139.00
                </span>
            </span>
            <span data-product-price-without-tax="" class="price price--withoutTax">$125.00</span>
            <!--
                <span data-product-rrp-without-tax class="price price--rrp">$139.00</span>
            -->
        </div>
            </div>
            

                    <p class="card-text brand-name" data-test-info-type="brandName">Coyote Grills</p>
        </div>

        <div class="card-details">
            
                    </div>
    </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    <div class="card-figcaption--action-buttons">
                                <a href="/cart.php?action=add&amp;product_id=614" data-event-type="product-click" class="button button--small card-figcaption-button">Add to Cart</a>
                    </div>
                </div>
            </figcaption>
</article>
    </li>
<li class="product">
<article class="card  has-sale-price">
    <figure class="card-figure">
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>


        <a href="/coyote-gas-conversion-kit-c2lp2ng/">
            <div class="card-img-container">
                <img class="card-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/612/4797/c%252F2%252Fb%252Ff%252Fc2bff0d04b9c12ef3e24fa336e434070831293de_875133c0_f9f0_5d6d_bcaa_b6c004180150__50116.1609520071.jpg?c=1" data-src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/612/4797/c%252F2%252Fb%252Ff%252Fc2bff0d04b9c12ef3e24fa336e434070831293de_875133c0_f9f0_5d6d_bcaa_b6c004180150__50116.1609520071.jpg?c=1" alt="Coyote Gas Conversion Kit - C2LP2NG" title="Coyote Gas Conversion Kit - C2LP2NG" sizes="271px">
            </div>
        </a>
        
    </figure>
    <div class="card-body">
        <div>
            <h4 class="card-title">
                <a href="/coyote-gas-conversion-kit-c2lp2ng/">Coyote Gas Conversion Kit - C2LP2NG</a>
            </h4><div class="card-text" data-test-info-type="price">
                    
         <div class="price-section price-section--saving price">
                <span data-product-price-saved="" class="price price--saving">
                  Save  $14.00
                </span>
         </div>
        <div class="price-section price-section--withoutTax ">
             
            <span class="price-section price-section--withoutTax non-sale-price--withoutTax">
                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">
                    $139.00
                </span>
            </span>
            <span data-product-price-without-tax="" class="price price--withoutTax">$125.00</span>
            <!--
                <span data-product-rrp-without-tax class="price price--rrp">$139.00</span>
            -->
        </div>
            </div>
            

                    <p class="card-text brand-name" data-test-info-type="brandName">Coyote Grills</p>
        </div>

        <div class="card-details">
            
                    </div>
    </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    <div class="card-figcaption--action-buttons">
                                <a href="/cart.php?action=add&amp;product_id=612" data-event-type="product-click" class="button button--small card-figcaption-button">Add to Cart</a>
                    </div>
                </div>
            </figcaption>
</article>
    </li>
   <li class="product">
<article class="card  has-sale-price">
    <figure class="card-figure">
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>


        <a href="/coyote-gas-conversion-kit-c2ng2lp/">
            <div class="card-img-container">
                <img class="card-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/611/4796/d%252F7%252Fb%252F3%252Fd7b31ccb6dba7708638e81b131a78cbea140e759_f46bcbdf_2607_5682_a7d0_9f68fa96da25_6ec25b5d_2fe1_41e4_ac43__51642.1609520069.jpg?c=1" data-src="https://cdn11.bigcommerce.com/s-xjh9r1tm85/images/stencil/300x300/products/611/4796/d%252F7%252Fb%252F3%252Fd7b31ccb6dba7708638e81b131a78cbea140e759_f46bcbdf_2607_5682_a7d0_9f68fa96da25_6ec25b5d_2fe1_41e4_ac43__51642.1609520069.jpg?c=1" alt="Coyote Gas Conversion Kit - C2NG2LP" title="Coyote Gas Conversion Kit - C2NG2LP" sizes="271px">
            </div>
        </a>
        
    </figure>
    <div class="card-body">
        <div>
            <h4 class="card-title">
                <a href="/coyote-gas-conversion-kit-c2ng2lp/">Coyote Gas Conversion Kit - C2NG2LP</a>
            </h4><div class="card-text" data-test-info-type="price">
                    
         <div class="price-section price-section--saving price">
                <span data-product-price-saved="" class="price price--saving">
                  Save  $14.00
                </span>
         </div>
        <div class="price-section price-section--withoutTax ">
             
            <span class="price-section price-section--withoutTax non-sale-price--withoutTax">
                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">
                    $139.00
                </span>
            </span>
            <span data-product-price-without-tax="" class="price price--withoutTax">$125.00</span>
            <!--
                <span data-product-rrp-without-tax class="price price--rrp">$139.00</span>
            -->
        </div>
            </div>
            

                    <p class="card-text brand-name" data-test-info-type="brandName">Coyote Grills</p>
        </div>

        <div class="card-details">
            
                    </div>
    </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    <div class="card-figcaption--action-buttons">
                                <a href="/cart.php?action=add&amp;product_id=611" data-event-type="product-click" class="button button--small card-figcaption-button">Add to Cart</a>
                    </div>
                </div>
            </figcaption>
</article>
    </li>
    <li  onclick="location.href='/collections/conversion-kits/'"  class="product viewall" style="position:relative;background:#000;color:#fff;cursor:pointer;" >
       <div>
	   <p style="color:#fff;text-align:center;">View All</p> 
	   <h2 style="color:#fff">Conversions Kits<h2>
	   </div>
	   
    </li>
</ul>
